@model RealEstateMvcApp.Models.Dtos.RoleDto
<div>Are you sure you want to delete this Agent?</div>
<div>
    <h4>@Model.Id</h4>
    <h4>@Model.Name</h4>
    <h4>@Model.Description</h4>
</div>
<form asp-action="Delete">
    <input type="hidden" value="@Model.Id"/>
    <input class="btn btn-danger" type="submit" value="Delete"/>
    <li>
            <a asp-controller="Role" asp-action="List">No</a>
        </li>
</form>